{
  "presets": [["env", {"modules": false}], "flow", "react"],
  "env": {
    "test": {
      "presets": ["env", "flow", "react"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  },
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
